@using FoundOps.Core.Server
@model FoundOps.Server.Authentication.LogOnModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background: none;">
<head>
    <title></title>
    <link href="@Url.Content("../../Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>
<body style="background: none;">
    <div id="mainLoginContent" style="position: absolute; top: 0px; left: 0px;">
        <form method="post" action="@String.Format("{0}/Account/BlogLogin", Global.RootUrl)" id="form1">
            <div id="email">
                @Html.LabelFor(m => m.EmailAddress)<br />
                @Html.TextBoxFor(m => m.EmailAddress)
            </div>
            <div id="password">
                @Html.LabelFor(m => m.Password)<br />
                @Html.PasswordFor(m => m.Password)
            </div>
            <div id="rememberMe">
                @(Html.CheckBoxFor(m => m.RememberMe))
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <div id="forgotPass">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account", null, new Dictionary<string, object> { { "target", "_parent" } })
            </div>
            <input type="hidden" name="redirected" value="" />
            <input id="loginBtn" type="submit" value="Login" />
        </form>
        <script type="text/javascript">
            //Returns hidden input data which keeps track of whether or not this has been redirected once
            //Allows you to go back in the browser
            /*function getRedirectedOnce() {
                return form1.elements["redirected"].value != "";
            }

            function setRedirectedOnce(val) {
                if(val)
                    form1.elements["redirected"].value = "true";
                else
                    form1.elements["redirected"].value = "";
            }
            $(document).ready(function () {
                if (!getRedirectedOnce() && "<%= Model !=null? Model.RedirectUrl: '' %>" != "") {
                    */ /*If there is a model, then redirect this parent to it. The model will be a url*/ /*
                    setRedirectedOnce(true);
                    window.top.location.href = "<%= Model !=null? Model.RedirectUrl: '' %>";
                }
                else if(getRedirectedOnce()) //Reset redirectedOnce
                    setRedirectedOnce(false);
            }); //document.ready*/
        </script>
    </div>
</body>
</html>

