@model FoundOps.Core.Models.Authentication.ResetPasswordModel
@{
    Layout = "../Shared/Master.cshtml";
}
<div id="captchaPage">
    @using (Html.BeginForm("ResetPassword", "Account"))
    { 
        <fieldset id="captchaFieldset" style="width: 340px; margin-left: -10px">
            <legend>Reset Password</legend>
            @Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.")
            @Html.ValidationMessageFor(m => m.NewPassword)<br />
            @Html.LabelFor(m => m.NewPassword)<br />
            @Html.PasswordFor(m => m.NewPassword)<br />
            <br />
            @Html.ValidationMessageFor(m => m.ConfirmPassword)<br />
            @Html.LabelFor(m => m.ConfirmPassword)<br />
            @Html.PasswordFor(m => m.ConfirmPassword)<br />
            <input name="resetCode" value="@Request.Params["resetCode"]" type="hidden"/>
            <br />
            <input id="loginPageBtn" style="width: 130px" type="submit" value="Reset Password" />
        </fieldset>
    }
</div>
