@model FoundOps.Core.Models.Authentication.ResetPasswordModel
@{
    Layout = "../Shared/Master.cshtml";
}
<div id="resetPage">
    @using (Html.BeginForm("ResetPassword", "Account"))
    { 
        <fieldset id="captchaFieldset" style="width: 340px;">
            <legend>Reset Password</legend>
            @Html.LabelFor(m => m.NewPassword)<br />
            @Html.PasswordFor(m => m.NewPassword)<br />
            <br />
            @Html.LabelFor(m => m.ConfirmPassword)<br />
            @Html.PasswordFor(m => m.ConfirmPassword)<br />
            <input name="resetCode" value="@Request.Params["resetCode"]" type="hidden"/>
            <br />
            <input id="loginPageBtn" type="submit" value="Reset" />
        </fieldset>
        <div class="ValSummary">@Html.ValidationSummary(true, "Password reset was unsuccessful. Please correct the errors and try again.")</div>
    }
</div>
