@model FoundOps.Core.Models.Authentication.LogOnModel
@{
    Layout = "../Shared/Master.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        //hide the main login
        document.getElementById('mainLoginContent').style.display = "none";
    });
</script>
<div id="captchaPage">
    <script type="text/javascript">
        var RecaptchaOptions = { theme: 'blackglass' };
    </script>
    @using (Html.BeginForm("CaptchaLogin", "Account"))
    { 
        <fieldset id="captchaFieldset">
            <legend>Login</legend>Please re-enter your username and password.<br /><br />
            @Html.LabelFor(m => m.EmailAddress)<br />
            @Html.TextBoxFor(m => m.EmailAddress)<br /><br />
            @Html.LabelFor(m => m.Password)<br />
            @Html.PasswordFor(m => m.Password)<br /><br />
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
            <div id="forgotLoginPass">
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
            </div>
            <div id="Recaptcha">
                <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=<6LeMMMYSAAAAAIs3hdYldIQG7fNMc0-7yDPpL5df>"></script>
                <noscript>
                    <iframe src="http://api.recaptcha.net/noscript?k=<6LeMMMYSAAAAAIs3hdYldIQG7fNMc0-7yDPpL5df>">
                    </iframe>
                    <br />
                    <textarea name="recaptcha_challenge_field" rows="3" cols="40" />
                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge" />
                </noscript>
            </div>
            <input id="loginPageBtn" type="submit" value="Log On" />
        </fieldset>
        <div class="LogonPageValSummary">@Html.ValidationSummary()</div>
    }
</div>