@model FoundOps.Server.Authentication.LogOnModel
@using FoundOps.Core.Server
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!--Copyright FoundOPS 2011. All rights reserved.
    FoundOPS and Cloud Dispatched are trademarks of FoundOPS LLC.-->
    <title>Field Service Management @@ FoundOPS</title>
    <meta name="keywords" content="FoundOPS, dis-patch, SaaS, service management, field service management, service dispatching, technician dispatch" />
    <meta name="description" content="Manage your field service company with GPS technician tracking, drag & drop dispatching, 
        and intuitive customer management in one easy-to-use system." />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
    <link href="@Url.Content("../../Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("../../Content/Site.css")" type="text/css" media="handheld" />
    <link rel="apple-touch-icon" href="@Url.Content("../../Content/TouchIcon.png")" />
    <link rel="shortcut icon" href="@Url.Content("../../Content/favicon.ico")" />
    <script type="text/javascript" src="@Url.Content("../../Scripts/jquery-1.6.1.min.js")"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25857232-1']);
        _gaq.push(['_setDomainName', 'foundops.com']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-25857232-1");
            pageTracker._initData();
            pageTracker._trackPageview();
            function trackEvent(category, action, label, value) {
                pageTracker._trackEvent(category, action, label, value);
            }
        }
        catch (err) { }
    </script>
    <!--[if IE 6]>
        <style>#container {height: 100%;}</style>
    <![endif]-->
    @RenderSection( "HeadContent", required: false)
</head>
<body>
    <div id="container">
        <div id="header">
            <a href="@Global.RootUrl">
                <img id="SiteLogo" src="@Url.Content("../../Content/SiteLogo.png")" alt="FoundOPS" /></a>
            <div id="mainLoginContent">
                @using (Html.BeginForm("Login", "Account"))
                   {
                <div id="email">
                    @Html.LabelFor(m => m.EmailAddress)<br />
                    @Html.TextBoxFor(m => m.EmailAddress)
                </div>
                <div id="password">
                    @Html.LabelFor(m => m.Password)<br />
                    @Html.PasswordFor(m => m.Password)
                </div>
                <div id="rememberMe">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <div id="forgotPass">
                    @Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")
                </div>
                <input id="loginBtn" type="submit" value="Login" />
                }
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    <div class="clearfooter"></div>
    </div><!--End container -->
    <div id="footer">
        <ul id="footerList">
            <li>Connect&nbsp;&nbsp;&nbsp;</li>
            <li><a href="https://www.facebook.com/pages/FoundOPS/202962066405323">
                <img class="footerIcon" style="padding-right: 5px" src="@Url.Content("../Content/facebook.png")"
                    border="0" alt="FoundOPS FaceBook" /></a></li>
            <li><a href="http://www.linkedin.com/company/foundops">
                <img class="footerIcon" src="@Url.Content("../Content/linkedin.png")" alt="FoundOPS Linkedin"
                    border="0" /></a></li>
            <li><a href="http://twitter.com/#!/FoundOPS">
                <img class="footerIcon" src="@Url.Content("../Content/twitter.png")" border="0"
                    alt="FoundOPS Twitter" /></a></li>
        </ul>
        <table id="bottomTable" class="tabs">
            <tr>
                <td rowspan="5" valign="middle">
                    <a href="@Global.RootUrl">
                        <img id="navLogo" src="@Url.Content("../Content/navLogo.png")" alt="FoundOPS" />
                    </a>
                </td>
                <td class="bigFooterText">
                    <a href="@String.Format("{0}/beta", Global.RootBlogUrl)">FoundOPS</a>
                </td>
                <td class="bigFooterText">
                    <a href="@String.Format("{0}/team", Global.RootBlogUrl)">About Us</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@String.Format("{0}/beta", Global.RootBlogUrl)">Beta</a>
                </td>
                <td>
                    <a href="@String.Format("{0}/team", Global.RootBlogUrl)">The Team</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@String.Format("{0}/product", Global.RootBlogUrl)">Features</a>
                </td>
                <td>
                    <a href="@String.Format("{0}/values", Global.RootBlogUrl)">Our Values</a>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <a href="@String.Format("{0}/jobs", Global.RootBlogUrl)">Jobs</a>
                </td>
            </tr>
            <tr>
                <td class="bigFooterText">
                    <a style="position: relative; top: -10px; left: 0px;" href="@Global.RootBlogUrl">
                        Blog</a>
                </td>
                <td>
                    <a href="@String.Format("{0}/contact", Global.RootBlogUrl)">Contact Us</a>
                </td>
            </tr>
        </table>
        <div>
            &copy;2011&nbsp;FOUNDOPS&nbsp;LLC</div>
    </div>
</body>
</html>
